[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
setup = "python setup.py setup"
test = "python setup.py test"
setup_templates = "python setup.py setup_templates"
setup_puzzles = "python setup.py setup_puzzles"